<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="Pages delete">
  <h2>Delete Page</h2>
  
  <%= form_for(@page, :url => subject_path(@page), :method => 'delete') do |f| %> 
<%# you can ommit the url part but not :method => delete you have to specify this  %>
    <p>Are you sure you want to permanently delete this Page?</p>

    <p class="reference-name"><%= f.object.name %></p>
    <%# notice f.object.name however sebject.name is totally workout for us fine %>

    <div class="form-buttons">
      <%= f.submit("Delete Page") %>
    </div>

  <% end %>
</div>
