/* Primary stylesheet */

/* Colors */
$red: #993120; // variables in sass doller sign collon color 
$green: #4c2516;
$light_green: #B6D491;
$yellow: #91472a;
$dark_brown: #332318;
$light_brown: #FFFFFF;
$white: #FFFFFF;
$section_background: #4c25169e;

$sans_serif: Verdana,Lucida,Arial,Helvetica,sans-serif; // this varible is to store text font   

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  min-width: 980px;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px $sans_serif;
  color: $white; // this is how variable works down is more 
}

p, td, ul, ol, li, dl, dt, dd {
  font-family: $sans_serif;
}

img { border: none; }
table { border-collapse: collapse; }

table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 3px;
  border: 1px solid $white;

}
a, a:visited { color: $white; }
a:hover {}

.clear { clear: both; }
.center { text-align: center; }

/* Structure */
#header {
  height: 4em;
  padding-top: 1em;
  text-align: center;
  background: $red;
  color: $white;
  position: relative;
  box-shadow: 0px -6px 19px 0px #000000;
  h1 { margin: 0; padding: 0; } // <---------nested rule 
  //equalent to 
  //#header h1 {}
}

#main {
  min-height: 500px;
  background: $yellow;
}

#navigation {
  float: left;
  width: 180px;
  min-height: 480px;
  padding: 10px;
  background: $green;
  color: $light_brown;
  box-shadow: inset -1px 0px 20px 0px #000000;
  margin-right: 15px;

}

#content { padding: 10px; }

#footer {
  clear: both;
  height: 2.5em;
  text-align: right;
  //url('/assets/footer_gradient.png'); repeat-y 0 0; that how you do it in normally css
  background: $light_brown image-url('/assets/footer_gradient.png') repeat-y 0 0;
  //image-url is rails  helper inside a css
  color: $yellow;
  box-shadow: 0px 4px 19px 0px #000000;
  p {
    margin: 0;
    padding: 0.5em 1em;
  }
}

/* Navigation */
#navigation {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.5em;
    }
    ul {
      margin: 0.5em 0 0 1em;
      font-size: 0.9em;
    }
  }

  a {
    text-decoration: none;
    padding: 1px 3px;
    &:hover {
      background: $yellow;
    }
  }

}
.section{
  background: $section_background;
  padding: 15px;  
  margin: 7px 30px 27px;
  box-shadow: 0px 0px 7px 0px #000000;
}

/* Content */
#content h2 {
  color: $light_brown;
}
